.char-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(13, 218, 99), rgb(250, 250, 9), rgb(13, 218, 99), rgb(0, 255, 255));
    margin: 1rem 1rem;
    box-shadow: 0px 5px 25px grey;
    padding: 12px;
    flex-basis: 0;
    border-radius: 8px;
}