.listItem {
    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(13, 218, 99), rgb(250, 250, 9), rgb(13, 218, 99), rgb(0, 255, 255));
    margin: 1rem 1rem;
    box-shadow: 0px 5px 25px grey;
    padding: 12px;
    flex-basis: 0;
    border-radius: 8px;
    
    }

.charName {
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    color: rgb(0, 115, 255);
    text-shadow:
    -1px -1px 0 rgb(21, 108, 56),
    1px -1px 0 rgb(21, 108, 56),
    -1px 1px 0 rgb(21, 108, 56),
    1px 1px 0 rgb(21, 108, 56);
    
    }

.charImage {
    
    border: solid 2px black;
    border-radius: 20px;
}