.dropdown {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    
   
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   

}

.dropdown .dropdown-selector {
  font-size: 16px;
  border: 2px solid black;
  outline: none;
  padding: 8px 16px;
  font: inherit;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
  background-image: linear-gradient(to right, rgb(198, 15, 198), rgb(37, 202, 37), rgb(198, 15, 198));
  display: flex;
  color: aliceblue;
  font-family: 'DynaPuff', cursive;
  

}

.dropdown-selector:hover .dropdown-content {
    display: block;
  }